<!-- src/app/app.component.html -->
<nav class="bg-gray-800 p-4 shadow-lg">
  <div class="container mx-auto flex justify-between items-center">
    <a routerLink="/" class="text-white text-2xl font-bold hover:text-gray-300">My E-Shop</a>
    <div class="space-x-4">
      <a routerLink="/products"
        class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Products</a>
      <a routerLink="/cart" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Cart</a>
      <a routerLink="/dashboard"
        class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Manage</a>
      <a routerLink="/admin/approval"
        class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Approves</a>
    </div>
  </div>
</nav>

<div class="container mx-auto p-4">
  <router-outlet></router-outlet>
</div>

<footer class="bg-gray-800 p-4 text-center text-gray-400 mt-8">
  <p>© 2024 My E-Shop. All rights reserved.</p>
</footer>